{% extends "base.html" %}
{% load leaflet_tags %}

{% block css_extra %}
<style>

    .leaflet-container {  /* all maps */
        width:  1200px;
        height: 800px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
{% endblock css_extra %}

{% block content %}
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
{% endblock content %}

{% block js_extra %}
<script>
    function map_init_basic (map, options) {
        L.marker([23.7686337,90.3536377]).addTo(map);
    }
</script>
{% endblock js_extra %}
